{%extends "normalpage/basenormal.html"%}
{%block style%}
{{block.super}}
	<style type="text/css">
		#content{
			min-height:50%;
			position:relative;
			margin-bottom: auto;
			margin-left: auto;
			margin-right: auto;
			margin-top: auto;
			width: 660px;
		}
		#menubar ul li a.home{background-color:#29AFE8}		
		
	</style>
{%endblock style%}
{%block content%}
{{block.super}}
	<div id="content">
		<p><a href="">mkcomics.com</a> is a commerical website, which can help you to read many kinds of comics online.</p>
		<p>Through few easy steps to register and sign up, you can now feel free to read the comic that you want</p>
		<p>Our prise is definitely the same for all comics:</p>
		<ul>
			<li><a>A Complete Comic Series is $100</a></li>
			<li><a>An Issue for each Comic is $5</a></li>
		</ul>
		<p>Website features:</p>
		<ul>
			<li><a>See the latest Update Comics and their Issues</a></li>
			<li><a>View the Comics by their category</a></li>
			<li><a>Move between page of Comics you are reading</a></li>
			<li><a>Zoom In and Zoom Out the pages for easy for you to read</a></li>
		</ul>
		<p>I hope you will enjoy our reading Comics Website.</p>
		<p>If you have any problems or opinion for making our website to serve you better. Feel free to Contact with us!</p>
	</div>	
{%endblock content%}